@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  font-family: 'Space Grotesk', sans-serif;
  overflow-x: hidden;
  background-color: #050510;
}

/* Footer Distinction */
.footer-section {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(to bottom, #0f172a, #020617);
}

.bg-radial-gradient-fade {
  background: radial-gradient(circle, transparent 40%, #050510 100%);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #4a5568;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #718096;
}

/* Blue Scrollbar Override */
.blue-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #2563eb transparent;
}

.blue-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.blue-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 9999px;
}

.blue-scrollbar::-webkit-scrollbar-thumb {
  background-color: #2563eb;
  border-radius: 9999px;
  border: 3px solid transparent; /* Creates padding around thumb */
  background-clip: content-box;
}

.blue-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #3b82f6;
}
